.idea/workspace.xml
build/
/.settings/
/old/
.cdtproject
.cproject
.project
cproject
*.o
*.a
*.vb
*.elf
*.ram
*.lnk
*.asm
*.map
*.ftp
sections*.txt
setupClasses.c
headerFiles.txt
release.bat
v810_err.txt
